<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student List</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<h1 class="text-blue-500 text-center text-3xl p-4" >Student List</h1>
<div class="p-8 relative overflow-x-auto  sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
        <tr>
            <th scope="col" class="px-6 py-3">ID</th>
            <th scope="col" class="px-6 py-3">First Name</th>
            <th scope="col" class="px-6 py-3">Last Name</th>
            <th scope="col" class="px-6 py-3">Actions</th>
        </tr>
    </thead>

    <tr class="odd:bg-white  even:bg-gray-50" th:each="student : ${students}">
        <td class="px-6 py-4" th:text="${student.id}"></td>
        <td class="px-6 py-4" th:text="${student.firstname}"></td>
        <td class="px-6 py-4" th:text="${student.lastname}"></td>
        <td class="px-6 py-4">
            <a class="py-2 px-4 bg-green-200 rounded-lg" th:href="@{/student-details/{id}(id=${student.id})}">View</a>
            <a class="py-2 px-4 bg-blue-200 rounded-lg" th:href="@{/edit-student/{id}(id=${student.id})}">Edit</a>
            <a class="py-2 px-4 bg-red-200 rounded-lg" th:href="@{/delete-student/{id}(id=${student.id})}">Delete</a>
        </td>
    </tr>
</table>
    <div class="mt-8">
        <a class=" py-2 px-4 bg-blue-200 rounded-lg" href="/add-student">Add New Student</a>
    </div>

</div>


</body>
</html>
